*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: auto;
}

.lighter{
    background-color: white!important;

}
.darker div{
    transition: all 0.5s;

    transition-delay: 0.1s;
}
.lighter div{
    background-color: white;
    color: black !important;
    transition: all 0.5s;

transition-delay: 0.1s;
}
.lighter .icon{
    color: white!important;
}
.lighter .feature-content{
    background-color:#ffffff00!important;
}
.lighter .quiz-header{
    background-color: #BB2D3B!important;
}
.lighter .quiz-header:hover{
    background-color: #20247B!important;
}
.lighter .section{
    background-color: white;
}

.btndark{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:0;

    border-top-left-radius: 0px;
    width: 3%;
    bottom: 3%;
}

@media only screen and (max-width: 900px) {
    .btndark{
 
        width:12%;
    }
}